/* .add-member{
  width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-member button{
  background: darkgreen;
}

.add-member p{
  font-size: large;
    text-decoration: underline;
}

.table-container{
  width: 80%;
    margin: auto;
}

.icon-wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.table-container{
  margin-top: 20px;
} */

.icon-wrapper svg{
  cursor: pointer;
}
